{% extends 'tech/base.html' %}

{% block content %}
<section class="apropos container">
    <div class="entete">
        <h1>à propos</h1>
    

        <div class="apropos_detail">
            <div class="premier">
                <h3>pourquoi ?</h3>
                <p>Nous croyons aux cinq règles a respecter pour q'une entreprise soit prospère(le besoin, l'entrée, le contôle, l'echelle et le temps);
                    nous croyons au potentiel de la digitalisation et au fait qu'elle joue un grang rôle dans le dévéloppement du monde en général et de 
                    l'Afrique en particulier et enfin nous croyons au fait que le dévéloppement de l'Afrique ne se fera que par nous les africains,
                    c'est pour cela que nous pensons différemment... 
                </p>
            </div>
            <div class="deuxieme">
                <h3>nos objectifs</h3>
                <p>Facilité la dematérialisation des services que proposent nos clients, démystifier les domain de l'entrepreneuriat aux yeux des gens 
                    qui souhaitent se lancer mais ne savent ni par où, ni comment commencer, l'amélioration des conditions de vie des africains en général
                    et des guinéens en particulier à travers la création de projet innovant et enfin devenir la référence en Guinée ensuite en Afrique ainsi 
                    de suite...
                </p>
            </div>
        </div>

        <section class="contacte">
            <div class="contact">
                <div class="titre-text">
                    <p>contact</p>
                </div>
                
                <div class="contacts">
                    <p><i class="bx bx-envelope"></i> <a href="mailto:tictechdigital@gmail.com">tictechdigital@gmail.com</a></p>
                    <p><i class="bx bx-phone"></i> <i class="bx bxl-whatsapp"></i> <i class="bx bxl-telegram"></i> <a href="tel:+224 625 81 98 43">+224 625 81 98 43</a> </p>
                    <p><i class="bx bx-phone"></i> <a href="tel:+224 657 53 86 69">+224 657 53 86 69</a> </p>
                </div>
            </div>
        </section>
    </div>
</section>
{% endblock  %}